<div class="jumbotron text-center">

	<h1><i class="fa fa-connectdevelop"></i></i> Make It Happen</h1>
	<br />
	<p>Make It Happen is a smart way to stay organized.</p><br />
	<p>Easily add text, videos, and links to your sticky notes.</p>
	<br />

	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>

</div>

